<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> hii</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> hii</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
